{% extends 'home.html' %}

{% block content %}
    <h1 class="text-center">书籍编辑</h1>
    <form action="{% url 'book_edit' %}" method="post">
        {% for book_obj in book_quryset %}
            <p>书名：
            <input type="text" value="{{ book_obj.title }}" name="title" class="form-control">

            </p>
            <p>价格：
                <input type="text" value="{{ book_obj.price }}" name="price" class="form-control">

            </p>
            <p>出版日期：
                <input type="date" value="{{ book_obj.publish_data|date:'Y-m-d' }}" name="publish_date" class="form-control">

            </p>
            <p>出版社：
                <select name="publish" id="" class="form-control">
                    {% for publish_obj in publish_queryset %}
                        {% if book_obj.publish == publish_obj %}
                             <option value="{{ publish_obj.pk }}" selected>{{ publish_obj.name }}</option>
                        {% else %}
                             <option value="{{ publish_obj.pk }}">{{ publish_obj.name }}</option>
                        {% endif %}

                    {% endfor %}


                </select>

            </p>
            <p>作者：
                <select name="authors" id="" class="form-control"multiple>
                    {% for author_obj in author_queryset %}
                        {% if author_obj in book_obj.authors.all %}
                            <option value="{{ author_obj.pk }}" selected>{{ author_obj.name }}</option>
                        {% else %}
                            <option value="{{ author_obj.pk }}">{{ author_obj.name }}</option>
                        {% endif %}
                    {% endfor %}

                </select>


            </p>
            <input type="submit" value="修改" class="btn btn-success btn-block">
        {% endfor %}
    </form>
{% endblock %}
