{% extends 'home.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css"/>
    <script src="/static/jquery.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<h1 class="text-center">注册</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="post" action="/register/">
                <p>usename:<input type="text" name="username" class="form-control"></p>
                <p>password:<input type="password" name="password" class="form-control"></p>
{#                <p>confirm_password:<input type="password" name="password" class="form-control"></p>#}

                <br>
                <input type="submit" class="btn-danger btn-block">

            </form>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}